[role="main"] h3, [role="navigation"], [role="contentinfo"] {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

[role="main"] h3, [role="navigation"], [role="contentinfo"] {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
}

@font-face {
  font-family: "GreenMudSusy";
  src: url('../fonts/greenmudsusy-regular-webfont.eot');
  src: url('../fonts/greenmudsusy-regular-webfont.eot?#iefix') format('eot'), url('../fonts/greenmudsusy-regular-webfont.woff') format('woff'), url('../fonts/greenmudsusy-regular-webfont.ttf') format('truetype'), url('../fonts/greenmudsusy-regular-webfont.svg#GreenMudSusy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GreenMudSusy";
  src: url('../fonts/greenmudsusy-bold-webfont.eot');
  src: url('../fonts/greenmudsusy-bold-webfont.eot?#iefix') format('eot'), url('../fonts/greenmudsusy-bold-webfont.woff') format('woff'), url('../fonts/greenmudsusy-bold-webfont.ttf') format('truetype'), url('../fonts/greenmudsusy-bold-webfont.svg#GreenMudSusy') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GreenMudSusySC";
  src: url('../fonts/greenmudsusy-smallcaps-webfont.eot');
  src: url('../fonts/greenmudsusy-smallcaps-webfont.eot?#iefix') format('eot'), url('../fonts/greenmudsusy-smallcaps-webfont.woff') format('woff'), url('../fonts/greenmudsusy-smallcaps-webfont.ttf') format('truetype'), url('../fonts/greenmudsusy-smallcaps-webfont.svg#GreenMudSusySC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GreenMudSusySC";
  src: url('../fonts/greenmudsusy-smallcapsbold-webfont.eot');
  src: url('../fonts/greenmudsusy-smallcapsbold-webfont.eot?#iefix') format('eot'), url('../fonts/greenmudsusy-smallcapsbold-webfont.woff') format('woff'), url('../fonts/greenmudsusy-smallcapsbold-webfont.ttf') format('truetype'), url('../fonts/greenmudsusy-smallcapsbold-webfont.svg#GreenMudSusySC') format('svg');
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 150%;
  line-height: 1.20833em;
}

html {
  font-family: GreenMudSusy, Comic Sans MS, sans-serif;
  color: #404040;
  color: rgba(64, 64, 64, 0.8);
  background: url('../images/creampaper.png?1352308674') repeat fixed;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #0099cc;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #b30059;
}

[role="main"] h2 {
  font-size: 35px;
  font-size: 1.45833rem;
  line-height: 44px;
  line-height: 1.8125rem;
  margin-bottom: 15px;
  margin-bottom: 0.60417rem;
}
@media (min-width: 39em) {
  [role="main"] h2 {
    font-size: 36px;
    font-size: 1.5rem;
    line-height: 44px;
    line-height: 1.8125rem;
  }
}
[role="main"] h3 {
  padding-top: 7px;
  padding-top: 0.30208rem;
  padding-bottom: 7px;
  padding-bottom: 0.30208rem;
  margin-bottom: 15px;
  margin-bottom: 0.60417rem;
  background: #cccccc;
  background: rgba(166, 166, 166, 0.25);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .04em;
}
[role="main"] h4, [role="main"] strong {
  font-weight: bold;
}
[role="main"] em {
  font-family: GreenMudSusySC, Comic Sans MS, sans-serif;
}
[role="main"] p, [role="main"] ul, [role="main"] ol, [role="main"] pre {
  margin-bottom: 29px;
  margin-bottom: 1.20833rem;
}
[role="main"] blockquote p {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
[role="main"] p:empty {
  display: none;
}
[role="main"] ul {
  list-style-type: disc;
}
[role="main"] ol {
  list-style-type: decimal;
}
[role="main"] ul ul, [role="main"] ul ol, [role="main"] ol ul, [role="main"] ol ol {
  margin-left: 29px;
  margin-left: 1.20833rem;
}

@font-face {
  font-family: "IcoMoon";
  src: url('../fonts/megan.eot');
  src: url('../fonts/megan.eot?#iefix') format('eot'), url('../fonts/megan.svg#megan') format('svg'), url('../fonts/megan.woff') format('woff'), url('../fonts/megan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[role="navigation"] a:before, [data-icon]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

[role="navigation"] a:before {
  margin-left: .1em;
  margin-right: .25em;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
}

[role="navigation"] [href*="mailto"]:before {
  content: "\e000";
}

[role="navigation"] [href*="about"]:before {
  content: "\e001";
}

[role="navigation"] [rel="home"]:before {
  content: "\e002";
}

html {
  overflow-x: hidden;
}
@media (min-width: 45em) {
  html {
    padding-left: 30%;
  }
}

body {
  -webkit-transition: margin, padding 400ms;
  -moz-transition: margin, padding 400ms;
  -o-transition: margin, padding 400ms;
  transition: margin, padding 400ms;
  max-width: 26em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
body:before {
  -webkit-transition: left 400ms;
  -moz-transition: left 400ms;
  -o-transition: left 400ms;
  transition: left 400ms;
  background: url('../images/megan.png?1353284982') no-repeat center 0.60417rem;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -32%;
  content: " ";
  width: 28%;
}
@media (min-width: 45em) {
  body:before {
    left: 1em;
  }
}
@media (min-width: 65em) {
  body {
    margin-left: 5%;
  }
}
@media (min-height: 20em) {
  body {
    padding-top: 15px;
    padding-top: 0.60417rem;
  }
}

[role="banner"] h1 {
  font-size: 50px;
  font-size: 2.08333rem;
  line-height: 58px;
  line-height: 2.41667rem;
}
[role="banner"] h1 a:link, [role="banner"] h1 a:visited {
  color: #007399;
}
[role="banner"] h1 a:focus, [role="banner"] h1 a:hover, [role="banner"] h1 a:active {
  color: #660033;
}
[role="banner"] h1, [role="banner"] h2 {
  font-weight: bold;
}

[role="navigation"] {
  margin-top: 15px;
  margin-top: 0.60417rem;
  margin-bottom: 29px;
  margin-bottom: 1.20833rem;
  border-top-width: 2px;
  border-top-width: 0.08333rem;
  border-top-style: solid;
  padding-top: 5px;
  padding-top: 0.21875rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.08333rem;
  border-bottom-style: solid;
  padding-bottom: 5px;
  padding-bottom: 0.21875rem;
  font-family: GreenMudSusySC, Comic Sans MS, sans-serif;
  border-color: #cccccc;
  border-color: rgba(166, 166, 166, 0.25);
}
[role="navigation"] ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  overflow: visible;
}
[role="navigation"] ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
[role="navigation"] a {
  display: block;
  margin-right: .5em;
}
[role="navigation"] a:before {
  font-size: 16px;
  font-size: 0.66667rem;
  line-height: 29px;
  line-height: 1.20833rem;
  vertical-align: middle;
}
[role="navigation"] a:focus, [role="navigation"] a:hover, [role="navigation"] a:active {
  -webkit-transform: scale(1.25) rotate(-6deg);
  -moz-transform: scale(1.25) rotate(-6deg);
  -ms-transform: scale(1.25) rotate(-6deg);
  -o-transform: scale(1.25) rotate(-6deg);
  transform: scale(1.25) rotate(-6deg);
}

[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}

[role="contentinfo"] {
  margin-top: 29px;
  margin-top: 1.20833rem;
  border-top-width: 2px;
  border-top-width: 0.08333rem;
  border-top-style: solid;
  padding-top: 5px;
  padding-top: 0.21875rem;
  font-family: GreenMudSusySC, Comic Sans MS, sans-serif;
  border-color: #cccccc;
  border-color: rgba(166, 166, 166, 0.25);
  text-transform: lowercase;
}
[role="contentinfo"] strong {
  font-weight: bold;
}
[role="contentinfo"] .note:before {
  content: " » ";
}

figure {
  padding: 7px;
  padding: 0.30208rem;
  margin-bottom: 7px;
  margin-bottom: 0.30208rem;
  overflow: hidden;
  border: 1px solid #cccccc;
}
figure img {
  width: 100%;
}
figure blockquote {
  font-size: 72px;
  font-size: 3rem;
  line-height: 44px;
  line-height: 1.8125rem;
  -webkit-transform: scale(1.5) rotate(-8deg);
  -moz-transform: scale(1.5) rotate(-8deg);
  -ms-transform: scale(1.5) rotate(-8deg);
  -o-transform: scale(1.5) rotate(-8deg);
  transform: scale(1.5) rotate(-8deg);
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 20em) {
  figure {
    width: 30.76923%;
    float: left;
    margin-right: 3.84615%;
    margin-bottom: 29px;
    margin-bottom: 1.20833rem;
  }
  figure ~ p {
    overflow: hidden;
  }
  figure ~ h3 {
    clear: both;
  }
}